.display-none {
  display: none !important;
}
li {
  cursor: pointer;
}
#cart-container {
  transition: 0.7s ease;
}
#cart-close-btn {
  cursor: pointer;
}

.out-left-screen {
  right: -100%;
}
.left-0 {
  left: 0px!important;
}

@media (max-width: 992px) {
  /* For screens smaller than md */
  #side-bar {
    position: fixed;
    width: fit-content;
    left: -170px;
    right: calc(100% - 10px) !important;
    /* transition: 0.5s ease-in-out; */
    /* z-index: -10000; */
  }
}
#side-bar {
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  /* z-index: -10000; */
}
#slider {
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: calc(100%);
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10000;
  /* right: -100%; */
}
#sidebar {
  transition: 0.5s ease-in-out;
}
@media (min-width: 992px) {
  /* For screens larger than or equal to md */
  #sidebar {
    left: 0; /* Align the sidebar to the left of the viewport */
  }
  #slider {
    display: none;
  }
}
